body {
  font-family: "Signika", sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
}

a {
  text-decoration: none;
}

.heading-primary {
  color: $color-grey-light-1;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--main {
    font-size: 9.6rem;
    line-height: 1.2;
  }

  &--sub {
    font-size: 3.6rem;
  }
}

.heading-secondary {
  display: block;
  color: $color-blue-dark-5;
  font-size: 3.6rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.paragraph {
  font-size: 2rem;
  color: $color-grey-dark-1;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}
