body {
  font-family: "Signika", sans-serif;
  font-weight: 400;
  font-size: $font-smallest;
}

a {
  text-decoration: none;
  color: inherit;
}

.heading-primary {
  color: $color-grey-light-1;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--main {
    font-size: $font-largest;
    line-height: 1.2;

    @include responsive(medium) {
      font-size: $font-larger;
      line-height: 1;
      text-align: center;
    }
  }

  &--sub {
    font-size: $font-large;

    @include responsive(medium) {
      font-size: $font-medium;
      margin-top: 1rem;
      text-align: center;
      padding: 0 5rem;
    }
  }
}

.heading-secondary {
  display: block;
  color: $color-blue-dark-5;
  font-size: $font-large;
  font-weight: 400;
  margin-bottom: 2rem;

  &--light {
    color: $color-blue-light-1;
  }
}

.paragraph {
  font-size: $font-small;
  color: $color-grey-dark-1;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}
