.section-about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 8rem;

  @include responsive(large) {
    flex-direction: column;
    align-items: flex-start;
    padding: 6rem 4rem;
  }

  &__text {
    max-width: 50rem;
    margin-right: 8rem;

    @include responsive(large) {
      max-width: 60rem;
      margin-right: 0;
      margin-bottom: 5rem;
    }
  }

  &__image {
    max-width: 100%;
  }
}

.section-featured {
  background-color: $color-grey-light-1;
  padding: 10rem 0;
}

.featured-profiles {
  display: flex;
  justify-content: space-evenly;

  @include responsive(largest) {
    flex-direction: column;
  }
}

.section-memberships {
  background-color: $color-blue-dark-5;
  padding: 10rem 0;
}

.memberships-container {
  display: flex;
  justify-content: space-evenly;

  @include responsive(large) {
    flex-direction: column;
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 5rem;
  }

  @include responsive(medium) {
    max-width: 50rem;
  }
}

.section-testimonials {
  padding: 15rem 0;
  background: linear-gradient(180deg, #0967d2 0%, #0967d2 49.99%, #ffffff 50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials-container {
  display: flex;
  padding: 0 5rem;
}
