.carousel {
  position: relative;

  &__slides {
    position: relative;
    display: flex;
    flex-direction: column;

    & > .testimonial--active {
      z-index: 0;
    }

    & > :not(.testimonial--active) {
      position: absolute;
      z-index: -1;
      box-shadow: none;
    }
  }

  &__arrow-container {
    position: absolute;
    top: 40%;
    background-color: $white;
    border-radius: 50%;
    border: 2px solid $color-blue-dark-5;
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: $box-shadow-subtle;

    &--left {
      transform: translateX(-50%);
      left: 0;
    }

    &--right {
      transform: translateX(50%);
      right: 0;
    }
  }

  &__arrow {
    height: 2rem;
    width: 2rem;
    fill: $color-blue-dark-5;
  }

  &__dots {
    display: flex;
    justify-content: center;
    margin: 2.5rem 0;
  }

  &__dot {
    display: inline-block;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    border: 1px solid $color-blue-dark-5;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    &--active {
      background-color: $color-blue-dark-5;
      border: none;
    }
  }
}
