.carousel {
  position: relative;

  &__slides {
    position: relative;
    display: flex;
    flex-direction: column;

    & > *:first-child {
      z-index: 0;
    }

    & > *:not(:first-child) {
      position: absolute;
      z-index: -1;
      box-shadow: none;
    }
  }

  &__arrow-container {
    position: absolute;
    top: 40%;
    background-color: $white;
    border-radius: 50%;
    border: 2px solid $color-blue-dark-5;
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: $box-shadow-subtle;

    &--left {
      transform: translateX(-50%);
      left: 0;
    }

    &--right {
      transform: translateX(50%);
      right: 0;
    }
  }

  &__arrow {
    height: 2rem;
    width: 2rem;
    fill: $color-blue-dark-5;
  }
}
