.featured-profile {
  display: flex;
  justify-content: center;

  @include responsive(largest) {
    padding: 0 5rem;
  }

  &:not(:last-child) {
    @include responsive(largest) {
      margin-bottom: 5rem;
    }
  }

  @include responsive(small) {
    flex-direction: column;
    padding: 0 2.5rem;
    align-items: center;
  }

  &__photo {
    position: relative;
    z-index: 1;
    left: 5px;
    max-width: 100%;

    @include responsive(small) {
      left: 0;
    }
  }

  &__card {
    background-color: $color-blue-dark-5;
    max-width: 35rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    position: relative;
    z-index: 2;

    @include responsive(medium) {
      padding: 3.5rem;
    }

    @include responsive(small) {
      top: -10px;
      max-width: 31.2rem;
      border-radius: 0 0 $border-radius $border-radius;
    }
  }

  &__details {
    color: $color-blue-light-1;

    @include responsive(small) {
      margin-bottom: 5rem;
    }
  }

  &__name {
    font-size: $font-large;
  }

  &__age {
    font-size: $font-medium;
  }

  &__highlight {
    color: $color-blue-light-2;
  }

  &__job {
    font-size: $font-medium;
  }

  &__description {
    font-size: $font-smallest;

    @include responsive(medium) {
      font-size: $font-small;
    }
  }

  &__details {
    color: $color-blue-light-1;
  }

  &__name {
    font-size: $font-large;
  }

  &__age {
    font-size: $font-medium;
  }
}
