.testimonial {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  display: flex;
  max-width: 85rem;
  align-items: flex-start;
  padding: 6rem 8rem;
  background-color: $white;

  @include responsive("large") {
    padding: 6rem;
    max-width: 70rem;
  }

  @include responsive("medium") {
    flex-direction: column;
    align-items: center;
  }

  &__image {
    margin-right: 6rem;

    @include responsive("medium") {
      margin-bottom: 4rem;
      margin-right: 0;
    }
  }

  &__text {
    font-size: $font-smallest;
    color: $color-grey-dark-2;
    position: relative;

    @include responsive("medium") {
      text-align: center;
    }

    &::before {
      content: "\201C";
      font-size: 14.4rem;
      line-height: 1;
      position: absolute;
      top: 0;
      left: 0;
      color: hsla(212, 92, 43, 0.15);
      transform: translate(-70%, -20%);
    }
  }

  &__author {
    font-size: $font-smallest;
    color: $color-blue-dark-5;
    margin-top: 1.5rem;

    @include responsive("medium") {
      text-align: center;
    }
  }
}
